aside {
  width: 30%;
  height: 100%;
  background-image: url("../../public/assets/images/bg-sidebar-desktop.svg");
  background-size: contain;
  background-repeat: no-repeat;
  padding: 10px;
  border-radius: 5px;
}
