.btn {
  padding: 10px 15px;
  border-radius: 4px;
  position: absolute;
  bottom: 10px;
  &:hover {
    transition: 0.5s;
    opacity: 0.8;
  }
}
.btn.next {
  right: 10px;
  background-color: var(--dark-blue);
}
.btn.back {
  right: auto;
  left: 10px;
  background-color: transparent;
  color: var(--gray);
  &:hover {
    opacity: 1;
    color: var(--dark-blue);
  }
}
@media screen and (max-width: 800px) {
  .btn {
    bottom: -50px;
  }
}
@media screen and (max-width: 412px) {
  .btn {
    bottom: -100px;
  }
}
