.summary-result {
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  margin-block: 20px;
  background-color: var(--white);
  .line {
    width: 100%;
    height: 1px;
    background-color: var(--light-gray);
    margin-block: 10px;
  }
  > section {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    p {
      margin-left: auto;
      color: var(--dark-blue);
    }
    div {
      p {
        margin-bottom: 5px;
      }
      a {
        color: var(--gray);
        text-decoration: underline;
      }
    }
  }
  .ons-cards {
    display: flex;
    justify-content: space-between;
    margin-block: 8px;
    p:first-child {
      color: var(--gray);
    }
    p:last-child {
      color: var(--dark-blue);
    }
  }
}
.summary {
  .total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    p:first-child {
      color: var(--gray);
    }
    p:last-child {
      color: var(--blue);
      font-size: 20px;
    }
  }
}
